/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
p{
    line-height: 1.4;
    font-size: 14px;
}

@media screen and (min-width:992px) {
    p{
        font-size: 16px;
    }
}

/* container */
.container{
    padding:0 16px;
    margin:0 auto;
    max-width: 100%;

}
.row{
    margin:0 -16px;
    display: flex;
    flex-wrap: wrap;
}

[class^="col-"]{
    padding:0 16px;
    width: 100%;
}

.w-full{
    width: 100%;
}

.text-center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
@media screen and (min-width:768px){
    .w-md-auto{
        width:auto;
    }
    .col-md-6{
        max-width: 50%;
        width: 100%;
    }
    .col-md-10{
        max-width: 83.33333%;
        width:100%;
    }
}
@media screen and (min-width:992px){

    .container{
        max-width: 960px;
    }
    .col-lg-8{
        max-width: 66.6667%;
        width:100%;
    }
    .col-lg-7{
        max-width: 58.33333%;
        width:100%;
    }
   
    .col-lg-6{
        max-width: 50%;
        width: 100%;
    }
    .col-lg-5{
        max-width: 41.66667% ;
        width:100%;
    }
    .col-lg-4{
        max-width: 33.3333%;
        width:100%;
    }
    .col-lg-3{
        max-width: 25%;
        width: 100%;
    }
    .text-lg-left{
        text-align: left;
    }
    .text-lg-right{
        text-align: right;
    }

    .hidden-lg{
        display: none;
    }
}

@media screen and (min-width:1200px){
    .container{
        max-width:1166px
    }
}


/* c-btn */
.c-btn{
    font-weight: 600;
    font-size: 14px;
    padding:12px 25px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border:none !important;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.c-btn--green{
    background: #54B200;
    color: #fff;
   
}
.c-btn--green::after{
    content:"";
    height:3px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #3e7c08;
}
.c-btn--orange{
    background: #ffa10d;
    color: #fff;
   
}
.c-btn--orange::after{
    content:"";
    height:3px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #E08600;
}
.c-btn--full{
    width: 100%;
    max-width: 450px;
    margin:0 auto;
}
.c-btn--orange:hover,
.c-btn--green:hover{
    top:2px;
}
.c-btn--orange:hover::after,
.c-btn--green:hover::after{
    height:1px;
}
.c-btn--sm{
    padding: 4px 2%;
    font-size: 12px;
}

.c-btn--lg{
    padding:25px 15px;
    font-size: 16px;
}


.title-bordered{
    border-bottom: 2px dashed #ccc;
    color: #38626B;
    margin-bottom:30px !important;
    margin-top: 20px !important;
    font-size: 18px;
    padding-bottom: 5px !important;
}

@media screen and (min-width:992px){
    .title-bordered{
        margin-top: 30px !important;
        font-size:20px !important;
        margin-bottom: 50px !important;
    }
}
/* header */
.c-header{
 background-color: #000;
}
.c-header nav{
    padding:10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.c-header .c-nav-list{
    display: none;
    position: absolute;
    top:100%;
    left:0;
    right:0;
    z-index: 99;
    background-color: #000;
    text-align: center;
}



.c-header .c-nav-list a{
    padding:10px 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    border-bottom:1px solid #888;
    display: block;
    width: 100%;
}
.c-header .c-nav-list a:hover{
    background-color: #444 
}

.c-toggler{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    white-space: nowrap
}
.c-toggler span{
    display: block;
    height: 20px;
    width:40px;
    border-radius: 100px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.c-toggler span::before{
    content:"";
    display: block;
    height:16px;
    width:16px;
    background-color: #000;
    border-radius: 100px;
    position: absolute;
    top:2px;
    left:2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.c-toggler.active span::before{
    left:22px;
}

.c-menu{
    display: block;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .c-menu{
        display: none;
    }
    .c-header nav{
        padding-top:0;
        padding-bottom: 0;
    }
    .c-header .c-nav-list{
        display: flex;
        position: relative;
        top:0;
        max-width: 100%;
        width: 100%;
    }
    .c-header .c-nav-list li{
        flex:1;
    }
    .c-header .c-nav-list li a{
        border:none;
        padding:18px 10px;
    }
    .c-toggler{
        padding-left:15px;
    }
}

@media screen and (min-width:992px){
    .c-header .c-nav-list li a{
 
    }
}

/* banner */
.c-banner{
    padding:25px 0;
    text-align: center;
    background: rgb(163,213,255);
    background: linear-gradient(0deg, rgba(163,213,255,1) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 66%, rgba(149,202,255,1) 100%);
}
.c-banner .logo{
    max-width:300px;
    margin:0 auto 30px;
}

.c-banner h3{
    font-weight: 700;
    color: #333;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;
}
.c-banner h3.mar-0{
    margin-bottom: 0;
}
.c-banner h4{
    color: #3cb4ec;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 0 0 #000;
    margin-bottom: 10px;
}
.c-banner .banner-link{
    margin-top: 25px;
}
.c-banner a{
    color:#1D90A5;
    font-weight: 600;
    text-decoration: underline;
    display: inline-block;
}
.c-search-form{
    margin-bottom: 30px;
}
.c-search-form .input-group{
    display: flex;
    
}
.c-search-form input{
    height:35px;
    width:100%;
    max-width: 100%;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:none;
    outline: none;
    font-size: 16px;
    padding:0 16px;
    border:1px solid #999;
    border-right:0;
    background-color: #fff;
}

.c-search-form  button{
    padding:5px 15px;
    font-size: 16px;
    color:#fff;
    font-weight: 600;
    border:none;
    max-width: 100%;
    background-color: #3cb4ec;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    cursor: pointer;
    border:1px solid #999;
    border-left:0;
}

.c-search-form  button:hover{
    background-color:#278dbc ;
}


@media screen and (min-width:768px){
    .c-banner .logo{
        max-width: 400px;
    }
}


/* member login form */
.c-member-login-form{
    padding:15px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 4px 4px rgba(168, 168, 168, 0.316);
}

.c-member-login-form::before{
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    top:0;
    left:0;
    height:100%;
    width:100%;
    
}

.c-member-login-form h3{
    font-size: 18px;
    font-weight: 600;
    color: #38626B;
    margin-bottom: 5px;
}
.c-form .form-group{
    margin-bottom: 10px;
}
.c-form select,
.c-form input{
    height:40px;
    border-bottom:1px solid #333 !important;
    background-color: transparent;
    width: 100%;
    border:none;
    font-size: 16px;
    outline: none;
}
.c-form .link{
    text-decoration: underline;
    color: #278dbc;
    font-weight: 600;
}

.c-form input[type="checkbox"]{
    height:20px;
    width:20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top:-1px;
}

.c-form p{
    font-size: 14px;
}

.c-form--signup .form-group{ 
    margin-bottom:30px;
}

.c-form--signup label{
    margin-bottom:5px;
}

.c-form--signup a{
    color: #1D90A5;
    text-decoration: underline;
}

.c-form--signup  .c-btn{
    margin:10px 0;
}
/* info section */

.c-info-section{
    background-color: #136cb2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding:10px 0;
    border-top: 5px solid #f38131;
    text-align: center;
}

.c-info-section h2{
    margin-bottom: 5px;
}

@media screen and (min-width:768px) {
    .c-info-section .section-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-info-section .c-btn{
        min-width: 150px;
    }

}

/* listing-section */

.c-listing-section{
    background-attachment: fixed;
    background-size: cover;
   
    position: relative;
}



.c-listing-section .content{
    background-color: #fff;
    padding:15px;
    border-radius: 10px;
    margin-bottom:30px;
    position: relative;
}

.c-listing-section .content:last-of-type{
    margin-bottom:0;
}

.c-listing-section .content .view-more{
    position: absolute;
    left:0;
    right:0;
    padding:25px 0;
    font-size: 14px;
    text-align: right;
    display: block;
    
}
.c-listing-section .content .view-more a{
    color: #1D90A5;
    font-weight: 600;
    text-shadow: 0 0 0 #000;
    text-decoration: underline;
    
}

.section-title{
    color: #3cb4ec;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom:15px;
    text-shadow: 0 0  #000;
}

@media screen and (min-width:768px){
    .section-title{
        font-size: 25px;
        
    }
   
    .c-listing-section .content{
        margin-bottom: 40px;
    }
}

@media screen and (min-width:992px){
    .c-listing-section .section-title{
        text-align: left;
    }

    .section-title{
        text-align: left;
        margin-bottom: 30px;
    }
}

/* c-table */
.c-table{
    overflow: auto;
    padding-bottom: 15px;
    margin-bottom: -15px;
}
.c-table .table{
    min-width: 400px;
    width: 100%;
}
.c-table .table thead th{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding:5px;
}

.c-table .table tbody td{
    text-align: left;
    font-size: 14px;
    border-bottom:1px solid #a2a2a2;
    padding:5px;
}

.c-table .table tbody tr:last-child td{
    border-bottom:0
}

@media screen and (min-width:992px){
    .c-table .table tbody th{
        font-size: 16px;
        padding-bottom: 15px;
    }
    .c-table .table tbody td{
        font-size: 16px;
        font-weight: 400;
    }  
}

/* ioline-list */
.c-inline-list{
    display: flex;
    flex-wrap: wrap;
}

.c-inline-list .list-item{

    flex: 1 1 0;
    padding: 10px;
    float: left;

}

.c-inline-list .list-item a{
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    color: #1D90A5;
}

@media screen and (min-width:992px){
    .c-inline-list .list-item a{
        font-size: 16px;
    }
}


.featured-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;

}

.featured-image .item{
    margin: 20px;
    width: 120px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1 1 12%;
}

.featured-image .item img{
    height: 100%;
    object-fit: contain;
}


@media  screen and (min-width:992px) {
    
}
/* c-section */
.c-section{
    padding:25px 0;
    background-attachment: fixed;
    background-size: cover;
}

.c-section.c-section-padding-0{
    padding:0;
}
.c-section h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.c-section ul{
    list-style: disc;
    list-style: inside;
    margin-bottom: 30px;
    font-size: 14px;
}

.c-section li{
    margin-bottom: 15px;
}

.c-section.section--2 .content{
    background: rgba(0,0,0,.7);
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding:25px 5px;
}

.c-section.section--2 .text-item{
    margin-bottom: 30px;
    position: relative;
}
.c-section.section--2  .text-item:last-child{
    margin-bottom:0;
}
.c-section.section--2 .text-icon{
    display: none;
}
.c-section.section--2 h3{
    padding: 0px 0px 5px 0px;
    font-size: 18px;
    color: #3cb4ec;
    margin-bottom:0;
}
.c-section.section--2 p{
    font-size: 14px;
    line-height: 1.4;
}


.container-w-pad{
    padding:30px;
    background-color: rgba(255,255,255,0.7);
}


@media screen and (min-width:768px){
    .c-section.section--2 .content{
        padding:25px;
    }
}

@media screen and (min-width:992px){
    .c-section{
        padding:80px 0;
    }
    .c-section.c-section-padding-0{
        padding:0;
    }
    .c-section.section--2 .text-item{
        position: relative;
        padding-left:100px;
        margin-bottom: 50px;
    }
    .c-section.section--2 .text-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        height:75px;
        width:75px;
        border-radius: 100px;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top:-10px;
        left:0;
    }
    .c-section.c-section.section--2 .text-icon img{
        width: 60%;
        opacity: 0.7;
        height: auto;
        display: block;
    
    }

    .container-w-pad{
        padding:50px;
    }
}

@media screen and (min-width:1200px){
    .container-w-pad{
        padding:50px 70px;
    
    }
}

.thumbplain {
    display: block;
    max-width: 300px;
    background: #fff;
    padding: 10px;
    min-width: 150px;
    float: right;
    position: relative;
    z-index: 999;
}
.c-section.section--3 .content-text{
    margin-bottom: 20px;
}
.c-section.section--3 .content-text:last-child{
    margin-bottom: 0;
}
.c-section.section--3 .content-text h2{

        color: #38626B;
        font-size: 20px;
        border-bottom: 2px dotted #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: block;
        z-index: 100;
        font-weight: 700;
        position: relative;
   
}
.c-section.section--3 p{
    padding:5px 0;
    line-height: 1.4;
    font-size: 14px;
}

.c-section.section--4{
    background:url('../images/bgblur2.jpg') fixed no-repeat center center/ cover;
}
.c-section .tile{
    background-color: #fff;
    box-shadow: 0 0 8px #999;
    overflow: visible;
    border-top: 5px solid #136cb2;
    padding-top: 5px;
    margin-bottom: 3%;

}

.c-section .tile .tile-content {
    padding: 15px;
    overflow: auto;
    font-size: 12px;
    line-height: 1.4;
}

.c-section .tile .tile-content h2{
    color: #38626B;
    font-size: 18px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.c-section .tile .tile-content p{
    text-align: center;
}

@media screen and (min-width:992px){
    .c-section .col{
        max-width: 20%;
    }
    .c-section .tile{
        height: 100%;
    }
}


/* contact section */
.c-section.contact-section {
    background:url('../images/globe3.jpg') fixed no-repeat center center/ cover;
}

.contact-item{
    margin-top:30px;
    margin-bottom:30px;
}
.contact-item h3{
    font-size: 18px;
}
.contact-item h2 span{
    font-weight: 700;
}
.contact-item h2{
    margin-bottom:5px
}
.contact-item a{
    color:#1D90A5;
    text-decoration: underline;
}

.contact-block{
    margin-bottom: 30px;
}
.contact-form h2,
.contact-block h2{
    color: #38626B;
    font-size: 18px;
    border-bottom: 2px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}
.contact-form .form-group{
    margin-bottom:15px;
    text-align: left;
}
.contact-form .form-control{
    height:35px;
    border-radius: 4px;
    border:1px solid #dedede;
    display: block;
    width: 100%;
    padding:0 15px;
    outline: none;
    background-color: #fff;
   
}

.contact-form textarea.form-control{
    min-height: 200px;
}
.contact-form label{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
}
.contact-form .c-checkbox{
    display: flex;
    align-items: center;
    
}

.contact-form .c-checkbox input{
    margin:0 10px 0 0;
    height:20px;
    width:20px;
    vertical-align: middle;
}
.contact-form .c-checkbox  label{
    margin-bottom: 0;
}
.contact-form h4{
    letter-spacing: 1.4;
    margin-top:25px;
}

.contact-form h4 a{
    color:#1D90A5;
    text-decoration: underline;
}

@media screen and (min-width:768px){
    .contact-form .c-btn{
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width:992px){
    .contact-block h2,
    .contact-form h2{
        text-align: left;
        font-size: 22px;
    }
    .contact-form .form-group{
        display: flex;
        align-items: center;
    }
    .contact-form label{
        max-width:200px;
        flex:0 0 200px;
    }

    .contact-form .c-btn{
        max-width: 100%;
    }
}
/* footer */
.c-footer{
    padding: 2%;
    text-align: center;
    z-index: 1;
    background: #666;
    color:#fff;
    font-size: 14px;
}
.c-footer .footer-top {
    padding:10px 0 15px;
    border-bottom:1px solid #000;
}
.c-footer .footer-top ul{
    list-style-type: none;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-footer .footer-top ul li{
    padding:0 5px;
    display: flex;
    align-items: center;
}

.c-footer .footer-top ul li::after{
    content:"";
    border-right:2px solid #fff;
    height:15px;
    display: block;
    margin-left:8px;
}

.c-footer .footer-top ul li:last-child::after{
    display: none;
}

.c-footer .footer-top ul li a{
    font-weight: 600;
    text-decoration: underline;
     color:#fff;
     display: block;
}

.c-footer .footer-bottom{
    color:#fff;
    padding:15px 0;
}

.c-footer .footer-bottom strong{
    font-weight: 600;
}
.c-footer .footer-logos{
    margin-top: 25px;
}
.c-footer .footer-logos a{
    display: block;
}
@media screen and (min-width:992px){
    .c-footer .footer-logos a{
        display: inline-block;
    }
}

/* scroll up */

.scrollup {
    position: relative;
    bottom: 0;
    z-index: 1000;
    background: #fff;
    opacity: 0.8;
    text-align: center;
    font-size: 14px;
    color: #888;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}


.scrollup:hover{
    opacity: 0.8;
}

@media screen and (min-width:992px){
    .scrollup{
        position: fixed;
        left:0;
        bottom:0;
    }
}


.c-search-result h2{
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0 10px 0;
    border-bottom: 2px dotted #ccc;
    color: #38626B;
    margin-bottom: 30px;
}

.search-table-wrapper{
    overflow-y: hidden;
    overflow-x: auto;
}
.search-table-wrapper .table{
    min-width: 700px;
    width: 100%;
}
.search-table-wrapper .table thead th{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding:10px 15px;
}
.search-table-wrapper .table tbody td{
 
    font-size: 14px;
    text-align: left;
    padding:10px 15px;
    border-top:1px solid #dedede;
}

.search-table-wrapper .table tbody td .link{
    font-weight: 600;
    color: #1D90A5;
    text-decoration: underline;
}


.c-auth-section .action-block{
    margin-bottom: 30px;
    padding:25px 0;
}


.c-auth-section .action-block label{
    display: block;
    color: #333;
    font-size: 14px;
}

.c-auth-section .action-block strong{
    display: block;
    font-weight: 600;
    font-size: 18px;
}
.c-auth-section .action-block a{
    color: #1D90A5;
    text-decoration: underline;
}

